*{
    margin: 0;
    padding: 0;
}
.fixed{
    width: 1100px;
    margin: auto;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

/* Defoult CSS */

/* hadder ment start */

.menu {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	position: fixed;
	left: o;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.menu-logu{
    width: 30%;
}
.menu-logu span {
	font-size: 23px;
	line-height: 40px;
	margin-left: 7px;
	color: #636e72;
}
.menu-logu img{
        max-width: 100%;
        width: 39px;
        float: left;
        background: #1abc9c;
        padding: 3px 0;
        border-radius: 7px;
}
.menu-list{
    width: 55%;
}
.menu-list ul{}
.menu-list ul li{
    display: inline-block;
}
.menu-list ul li a {
	display: block;
	padding: 0 20px;
	line-height: 48px;
	font-size: 20px;
	color: black;
    transition: 1s;
}
.menu-button{
    width: 15%;
}
.menu-button a {
	color: #636e72;
	border: 1px solid black;
	padding: 6px 13px;
	display: inline-block;
	margin-top: 6px;
	font-size: 17px;
	border-radius: 10px;
    transition: .5s;
}
.menu-button a:hover{
    background: #1abc9c;
    color: white;
}
.menu-list ul li a:hover{
    background: #ddd;
    border-radius: 10px;
}

/* hadder ment end */
/* dropdown menu start */

.menu-list ul li{
    position: relative;
}
.menu-list ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	opacity: 0;
	visibility: hidden;
    transition: 1s;
    transform: scaleY(0);
    transform-origin: top center;
}
.menu-list ul li ul li {
	display: block;
	border-bottom: 1px solid #fff;
	text-align: center;
	background: #ddd;
}
.menu-list ul li ul li a{}
.menu-list ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

/* dropdown menu end */

/* subDropDown menu */

.menu-list ul li ul li{
    position: relative;
}
.menu-list ul li ul li ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    opacity: 0;
    visibility: hidden;

}
.menu-list ul li ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.same-btn {
	border: 1px solid black;
	padding: 7px 10px;
	font-size: 17px;
	color: black;
	background: #4a69bd;
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;
    transition: .5s;
}
.same-btn:hover{
    background: #1e3799;
    color: #fff;
}
/* banner section start */

.banner-section {
	background-image: url(./img/man-professional-using-laptop-computer-at-home-banner-picture-id1226186457.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 211px 0;
	color: white;
	position: relative;
	z-index: 9;
	margin-top: 47px;
}
.banner-section:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(22, 47, 47, .4);
    z-index: -1;
}
.banner-section h3 {
	font-size: 21px;
	font-weight: 100;
}
.banner-section h1 {
	font-size: 50px;
	margin: 20px 0;
}

/* Banner part end */

/* Banner-bottom part staer */

.banner-bottom{
    padding: 50px 0;
}

.video-left{
    width: 48%;
}
.contact-right {
    width: 48%;
}
.contact-right h2 {
	font-size: 41px;
	width: 464px;
}
.contact-right p {
	width: 450px;
	margin-top: 18px;
	line-height: 23px;
}

/* Banner-bottom part end */

/* service-section start */

.service-itams {
	margin-top: 30px;
}
.service-section {
	background-color: #fff;
	padding: 29px 0;
}
.section-title h2{
    font-size: 40px;
    line-height: 86px;
}
.section-title p{
    font-size: 20px;
}
.itam-box {
	width: 31%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
	margin-left: 2%;
	padding: 30px 20px;
	box-sizing: border-box;
	margin-bottom: 19px;
	border-radius: 10px;
}

.icon {
	font-size: 30px;
	float: left;
	width: 44px;
	height: 65px;
	margin-left: 3;
	margin-right: 18px;
    color: #079992;
}
.text-contant h3 {
	font-size: 18px;
	margin-bottom: 6px;
}
.text-contant p {
	font-size: 14px;
}